@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
/* Font chữ tiêu đề */
/* font-family: 'Great Vibes', cursive; */
/* Font nội dung  */
/* font-family: 'Dosis', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  /* box-sizing: border-box; */
}

.nav-link.header {
  text-transform: uppercase;
  height: 40px;
  font-size: 18.5px;
  font-weight: bold;
  color: #000;
  margin-right: 20px;
}

.nav-link:last-child {
  border-right: none !important;
}

.nav-link:active {
  color: pink;
}

.btn.btn-primary {
  background-color: #eaf0ee;
  color: black;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
}

.btn.btn-primary:hover {
  background-color: rgb(207, 113, 129);
}

.btn-sign-in {
  background-color: pink !important;
}

.log_reg_btn {
  position: absolute;
  top: 25%;
  padding: 3px 10px 3px 10px;
  right: 0px;
  border-radius: 0;
}

.img-banner {
  object-fit: fill;
  padding: 40px;
}

.span-facebook {
  background-color: #0e84e6;
  color: #fff;
  text-decoration: underline;
}

.navbar {
  height: 90px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
}

.txt_input {
  position: relative;
  margin-bottom: 15px;
}

.txt_input .title_label {
  top: 7px;
  padding: 0 10px 0 10px;
  color: black;
  left: 15px;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
  background-color: #fff;
  transform: translateX(0px) translateY(-20px);
}

.frm__ {
  width: 550px;
}

.txt_input {
  width: 550px;
}

.form-control.edit_text {
  width: 550px;
}

.txt_input .edit_text,
.txt_input .area_input {
  border: 2px solid #000;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 1em;
}

.txt_input .edit_text:focus,
.txt_input .area_input:focus {
  border: 2px solid #000;
  box-shadow: none;
}

.navbar-toggler.menubar:focus {
  box-shadow: none;
}
.container {
  max-width: 80% !important;
}

/* Content */
.title__content {
  background-color: pink;
  padding: 20px 0px 15px 0px;
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 4em;
  font-family: "Great Vibes", cursive;
}

.img__content {
  margin-left: 20px;
  max-width: 25%;
}

.col.sbs {
  border: 3px solid #000;
  box-shadow: 4px 4px 0 1px #000;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.img__content.banner_5 {
  float: right;
}
.img_banner_3 {
  object-fit: inherit;
  height: auto;
}
.img__content.website-damcuoi {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.content_nkcd.website-dam-cuoi {
  height: 530px;
}

.text__blog {
  color: blue;
  width: 100%;
  text-decoration: underline;
}

/* Content */

/* Footer */
footer {
  margin-top: 50px;
}

/* Footer */

/* Mobile View */

@media (max-width: 768px) {
  * {
    font-size: 15px;
  }

  .navbar-collapse.collapse.show {
    background-color: #ffffff;

    border-radius: 20px;
    height: 230px;
    width: auto;
    transition: 0.5s;
  }

  .title__content {
    font-size: 2em;
  }

  .btn-sign-up,
  .btn-sign-in,
  .log_reg_btn {
    display: flex;
    justify-content: center;
    transform: translateY(145px);
  }

  .nav-link.header {
    text-decoration: none;
    text-align: center;
    border-right: none;
  }

  .content_nkcd.website-dam-cuoi {
    height: 370px;
  }

  .navbar {
    height: 120px;
  }
}

@media (max-width: 973px) {
  .nav-link.header {
    border-right: none;
    text-align: center;
  }

  .btn-sign-up,
  .btn-sign-in,
  .log_reg_btn {
    display: flex;
    justify-content: center;
    transform: translateY(145px);
  }
}
