@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
/* Font chữ tiêu đề */
/* font-family: 'Great Vibes', cursive; */
/* Font nội dung  */
/* font-family: 'Dosis', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  /* box-sizing: border-box; */
}
.pb-2 {
  padding-bottom: 0 !important;
}

.nav-link.header {
  text-transform: uppercase;
  height: 40px;
  font-size: 17.5px;
  font-weight: bold;
  color: #000;
  /* margin-right: 20px; */
}

.nav-link:last-child {
  border-right: none !important;
}

.nav-link:active {
  color: pink;
}

.navbar-brand {
  margin-left: 10%;
}

.navbar-toggler {
  margin-right: 10%;
}

/* Wave */

/* Bottom */
.custom-shape-divider-bottom-1699510542 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699510542 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1699510542 .shape-fill {
  fill: #ffffff;
}
/* Bottom */

/* Top */
.custom-shape-divider-top-1699510463 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1699510463 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;
}

.custom-shape-divider-top-1699510463 .shape-fill {
  fill: #ffffff;
}

/* Top */

/* Wave */

.btn.btn-primary {
  background-color: #eaf0ee;
  color: black;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
}

.content_nkcd.nhat-ky-co-dau {
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  background-color: #87c4ff;
}
.content_nkcd.website-dam-cuoi {
  margin-top: 15px;
  height: 420px;
  background-color: #ffeed9;
}

.content_nkcd.website-dam-cuoi p {
  margin-bottom: none;
}

.content_nkcd.question {
  background-color: #e0f4ff;
  padding-bottom: 20px;
}

.content_nkcd.ebook {
  padding-top: 15px;
  /* padding-bottom: 15px; */
}

.btn.btn-primary:hover {
  background-color: rgb(207, 113, 129);
}

.btn-sign-in {
  background-color: pink !important;
}

.log_reg_btn {
  position: relative;
  top: 35%;
  padding: 3px 10px 3px 10px;
  right: 0px;
  border-radius: 0;
}

.img-banner {
  object-fit: fill;
  padding: 40px;
}

.span-facebook {
  background-color: #0e84e6;
  color: #fff;
  text-decoration: underline;
}

.navbar {
  height: 90px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
}

/* Input text */

.txt_input {
  position: relative;
  margin-bottom: 15px;
}

.txt_input .title_label {
  top: 7px;
  padding: 0 10px 0 10px;
  color: black;
  left: 15px;
  position: absolute;
  pointer-events: none;
  transition: 0.5s;
  background-color: #fff;
  transform: translateX(0px) translateY(-20px);
}

.txt_input {
  width: 550px;
}

.form-control.edit_text {
  width: 550px;
}

.txt_input .edit_text,
.txt_input .area_input {
  border: 2px solid #000;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-size: 1em;
}

.txt_input .edit_text:focus,
.txt_input .area_input:focus {
  border: 2px solid #000;
  box-shadow: none;
}

/* Input text */

.navbar-toggler.menubar:focus {
  box-shadow: none;
}
.container {
  max-width: 80% !important;
}
.content_nkcd.diem-noi-bat {
  background-color: #f1eaff;
  padding-bottom: 15px;
}

/* Content */
/* Snow Effect*/
.snow,
.snow:after,
.snow:before {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(4px 4px at 350px 500px, #fff, transparent);
  background-size: 650px 650px;
  animation: snowTrans 3s linear;

  animation-iteration-count: infinite;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6 s;
}

.snow::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
}

@keyframes snowTrans {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(650px);
  }
}

/* Snow Effect */

/* Floating button contact */
.floating-btn {
  width: 60px;
  height: 60px;
  background: #0866ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: background 0.25s;

  border: none;
  cursor: pointer;
}

.floating-btn:active {
  background-color: black;
}

.material-icons {
  display: flex !important;
  font-size: 60px !important;
}
/* Floating button contact */

.title__content {
  padding: 20px 0px 15px 0px;
  /* margin: 20px 0 20px 0; */
  text-align: center;
  font-size: 3em;
  font-family: "Great Vibes", cursive;
}

.title__sub_content {
  margin-top: 50px;
  text-align: center;
  font-size: 3em;
  font-family: "Great Vibes", cursive;
}

.img__content {
  margin-left: 20px;
  max-width: 25%;
}

.col.sbs {
  /* border: 3px solid #000; */
  /* box-shadow: 4px 4px 0 1px #000; */
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.title_box h5 {
  color: #0e84e6;
  font-weight: bolder;
}

.desc-box {
  font-weight: 400;
}

.img__content.banner_5 {
  float: right;
}
.img_banner_3 {
  object-fit: inherit;
  height: auto;
}
.img__content.website-damcuoi {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  transform: translateY(-100px);
}

.text__blog {
  color: blue;
  width: 100%;
  text-decoration: underline;
}

.img__ebook {
  width: 50%;
  height: 450px;
  transform: translateX(450px);
}

.content_nkcd.step-by-step {
  padding-bottom: 30px;
}

.content_nkcd.step-by-step > .title__content {
  margin-top: 75px;
}

/* Content */

/* Footer */
footer {
  margin-top: 50px;
}

.col-lg-4 a {
  text-decoration: none;
  color: #000;
}

/* Footer */

@media (max-width: 1024px) {
  .content_nkcd.nhat-ky-co-dau {
    height: 530px;
  }

  .content_nkcd.website-dam-cuoi {
    margin-top: 15px;
  }

  .img__content.website-damcuoi {
    transform: none;
  }
}

@media (max-width: 973px) {
  .nav-link.header {
    border-right: none;
    text-align: center;
  }
  .navbar-nav {
    background: rgb(248, 249, 250);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: auto;
  }

  .navbar-brand img {
    width: 70;
    height: auto;
  }
}

/* Tablet */
@media (max-width: 768px) {
  * {
    font-size: 15px;
  }

  .content_nkcd.nhat-ky-co-dau {
    height: 360px;
  }

  .content_nkcd.ebook {
    height: auto;
    margin-bottom: 10px;
  }

  .container {
    max-width: 90% !important;
  }
  .navbar-nav {
    background: rgb(248, 249, 250);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: auto;
  }
  .form-control.edit_text,
  .txt_input {
    width: 250px;
  }

  .title__content {
    font-size: 2em;
  }

  .img__ebook {
    display: none;
  }

  .nav-link.header {
    text-decoration: none;
    text-align: center;
    border-right: none;
  }

  .box img {
    width: 50%;
    margin-bottom: 15px;
  }

  .content_nkcd.website-dam-cuoi {
    height: 300px;
  }

  .img__content.website-damcuoi {
    transform: none;
  }

  .navbar {
    height: 120px;
  }
  .navbar-brand img {
    height: 90px;
  }
  .btn.btn-primary.submit-reg-acc {
    margin-left: 100px;
  }

  /* Wave Tablet View */
  /* Top */
  .custom-shape-divider-top-1699510463 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1699510463 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.1px);
    height: 50px;
  }

  .custom-shape-divider-top-1699510463 .shape-fill {
    fill: #ffffff;
  }

  /* Top */

  /* Bottom */
  .custom-shape-divider-bottom-1699510542 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1699510542 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 35px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1699510542 .shape-fill {
    fill: #ffffff;
  }

  /* Bottom */

  /* Wave Tablet View */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content_nkcd.nhat-ky-co-dau {
    height: 560px;
  }
  .content_nkcd.nhat-ky-co-dau .img__content {
    max-width: 40% !important;
    margin-left: 0;
  }

  .content_nkcd.website-dam-cuoi {
    height: 450px;
  }

  .content_nkcd.website-dam-cuoi .img__content {
    max-width: 40% !important;
  }
}
